name: Android CI

on: [push, pull_request]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 17
    - name: Build android app
      run: ./gradlew assembleDebug
    - name: Build iOS shared code
      run: ./gradlew :shared:compileKotlinIosArm64

